@font-face {
    font-family: kaushan;
    src: url(KaushanScript-Regular.otf);
}

.pagina1 {
    font-family: kaushan;
    border: double 10px blueviolet;
    padding: 1em;
}

.pagina1 h1,
.pagina1 h3 {
    font-family: kaushan;
}

.imagen-con-sonido {
    cursor: pointer;
    /* Cambia el cursor al pasar el ratón */
}
.pagina2{
    color: blueviolet;
}
button{

    border-radius: 50%;
    border: 1px solid cornflowerblue;
    box-shadow: 3px 3px 0px 0px rgba(27, 27, 236, 0.822);
}
.pagina3{
    color:orange;
}
.pagina4{
    color: crimson;
}
.pagina4 h2{
    color: crimson ;
} 
.pagina5 h2, .pagina5 p{
    color: darkkhaki;
}
.pagina6 h3{
    color: yellow;
}